.peelWrapper {
  padding: 32px;
}

.peelContainer {
  position: relative;
  width: 300px;
  height: 300px;
}

.layer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}